body{
    background:url('../img/cumi.gif');
    background-size: cover;
    background-attachment: fixed;
}
.welcome{
    text-align: center;
}
.spy1{
    top: 700px;
    padding: 150px;
    background:white;    
}
.spy2{
    top: 750px;  
    padding: 150px; 
    background:white;    

}
.spy3{
    top: 800px; 
    padding: 150px;   
    background:white;    
}
.spy4{
    top: 850px;   
    padding: 150px; 
    background:white;    
}

