/*body{
    background:url('../img/seafood.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.welcome{
    text-align: center;
    margin-top: 150px;
}
.spy1{
    top: 700px;
    margin-bottom: 250px;
    padding: 150px;
    background:white;    
}
.spy2{
    top: 750px;  
    margin-bottom: 250px;
    padding: 150px;
    background:white;    

}
.spy3{
    top: 800px; 
    margin-bottom: 250px;
    padding: 150px;
    background:white;    
}
.spy4{
    top: 850px;   
    margin-bottom: 250px;
    padding: 150px;
    background:white;    
}

*/
body{
    overflow-y: hidden;
}
.carousel-inner img {
      width: 100%;
      height: 650px;
  }