body{
    background:url('../img/cumi.gif');
    background-size: cover;
    background-attachment: fixed;
}

.spy1{
    top: 100px;
    padding: 250px;    
}
.spy2{
    top: 150px;  
    padding: 250px; 
}
.spy3{
    top: 200px; 
    padding: 250px;   
}
.spy4{
    top: 250px;   
    padding: 250px; 
}

