body{
    background-color: #e3bbe8;
}
.welcome{
    text-align: center;
}
.welcome h3{
    font-family: "Verdana", Sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
}
.par1{
    background-image: url(../img/toko1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.par2{
    background-image: url(../img/menu9.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.toko{

    height: 600px;
}
.toko img{
    height: 100%;
    width: 1000px;
    margin-left: 200px;
}
.us{
    text-align: center;
}
.us1{
    text-align: center;
}
.us1 p{
    font-family: "Verdana", Sans-serif;
    letter-spacing: 2px;
}
.us2{
    text-align: center;
}
.profile{
    padding-top: 40px;
}
.agung img{
    margin-left: 50px;
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.melati img{
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.mayang img{
    margin-left: 50px;
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.anes img{
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.melati p{
    margin-left: 400px;
}
.anes p{
    margin-left: 400px;
}