body{
    background-color: #e3bbe8;
}
.welcome{
    text-align: center;
}
.welcome h3{
    font-family: "Verdana", Sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
}
.par1{
    background-image: url(../img/toko1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.par2{
    background-image: url(../img/menu9.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.toko{

    height: 600px;
}
.toko img{
    height: 100%;
    width: 1000px;
    margin-left: 200px;
}
.us{
    text-align: center;
}
.us1{
    text-align: center;
}
.us1 p{
    font-family: "Verdana", Sans-serif;
    letter-spacing: 2px;
}
.us2{
    text-align: center;
}
.profile{
    padding-top: 40px;
}
.agung img{
    margin-left: 50px;
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.melati img{
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.mayang img{
    margin-left: 50px;
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.anes img{
    width: 200px;
    height: 100%;
    border-radius: 50%;
}
.melati p{
    margin-left: 400px;
}
.anes p{
    margin-left: 400px;
}
.logomama{
    margin-top: -160px;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 30%;
}
.navbarr{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    transition: .5s;
    height: 100px;
    opacity: 0.8;
}
.navbarr .col12{
    color: black;
}

.navbarr.scrollUp {
  transform: translateY(-100px);
}
.navbarr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
} 
.navbarr li {
    float: left;
}

.navbarr li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 135px;
    text-decoration: none;
    font-family: "Courier", monospace;
    margin-left: 8px;
}
.navbarr .mm {
    float: right;
    padding-right: 630px;
}
.navbarr .mm h2{
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
}
.navbarr li a:hover {
    /*font-size: 25px;
    transition: .2s , transform .5s;
    transform: scale(1,1);*/
    color: red;
}
/* Clearfix (clear floats) */
.menu2::after {
    content: "";
    clear: both;
    display: table;
}
.menu{
    height: 180px;
    
}