
.parallax { 
    /* The image used */
    background-image: url("../img/cafe.jpg");
     background-color: black;

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
h1{
    text-align: center;
     background-color: #deb887;
}

h2{
    color: white;
   font-family: "Calibri", serif;
    font-style:;
    font-size: 80px;
    font-weight: ; 
    letter-spacing: -1px;
    line-height: 1;
    text-align: center; 
}

h3{
    color: white;
   font-family: "webdings", serif;
    font-style:;
    font-size: 80px;
    font-weight: ; 
    letter-spacing: 3px;
    line-height: 1;
    text-align: left; 
}

h4{
    color: white;
   font-family: "webdings", serif;
    font-style:;
    font-size: 80px;
    font-weight: ; 
    letter-spacing: 3px;
    line-height: 1;
    text-align: left; 
}
















