body{
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
.texttitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.texttitle h3{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 80px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center; 
}
.content2 h3{
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    text-align: center;
}
.content2 p{
    padding-top: 50px;
    text-align: center;
    font-family: "Libre Baskerville", serif;    
    font-size: 15px;
}
.content2 img{
    width: 300px;
    margin-top: -20px;
}
.textscroll i{
    padding-left: 140px;
}
.navbarr{
    background-color: rgb(24, 25, 25);
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    transition: .5s;
}
.navbarr.scrollUp {
  transform: translateY(-80px);
}
.navbarr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
} 
.navbarr li {
    float: left;
}

.navbarr li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbarr li a:hover {
    font-size: 25px;
    transition: .2s , transform .5s;
    transform: scale(1,1);
}
.slide{
    max-width: 100%; 
}
#slider {
    opacity:1;
    transition: opacity 5s; 
    width: 100%;
    height: 700px;
}

#slider.fadeOut {
    opacity:0.4;
}

/*
.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}


#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}


#myFooter {
    background-color: #b59e5f;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #b59e5f;
    padding-top: 1px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: #756437;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: black;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: black;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #183482;
}

#myFooter .google:hover {
    color: #c93120;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #756437;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
*/
.menu{
    width: 100%;
    height: 200px;
    background-color: #bf8f65;

}
.menu h3{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    color: white;
    padding-top: 40px;
}
.menu img{
    margin-top: -50px;
    margin-left: 450px;
}
.menu2 ul a{
    float:left;
    margin:30px;
    font-size: 30px;
    color: grey;
}
ul a:hover{
    text-decoration: none;
    color: black;
}
.col-sm-12 h3{
    text-align: center;
}
