
.headerimg1 { 
    background-image: url("../img/bakery1.jpg");
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.texttitle {
    padding-top: 270px;
    padding-left: 30px;
}
.texttitle h3{
    color: white;
   font-family: "Libre Baskerville", serif;
    font-style:;
    font-size: 80px;
    font-weight: ; 
    letter-spacing: -1px;
    line-height: 1;
    text-align: center; 
}
.textscroll {
    padding-top: 275px;
    padding-left: 540px;
}
.textscroll h5{
    color: darkorange;
    font-family:  'Helvetica Neue', sans-serif;
    font-weight: bold; 

}
.textscroll i{
    padding-left: 140px;
}
/*.navv a{
    color: black;
}
.navbar-brand{
    color:black;
}
*/
.contentparent1{
    text-align: center;
}
.navbarr{
    background-color: rgba(59, 52, 52, 0.58);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    transition: .5s;
}
.navbarr.scrollUp {
  transform: translateY(-80px);
}
.navbarr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
} 
.navbarr li {
    float: left;
}

.navbarr li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbarr li a:hover {
    font-size: 25px;
    transition: .2s , transform .5s;
    transform: scale(1,1);
}













