
.parallax { 
    /* The image used */
    background-image: url("../img/icecream.jpg");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.title1 h1{
    text-align: center;
}
.content1{
    background-color: transparent;
    background-clip: padding-box;
    
}
.parallax1{
    background-image: url("../img/backgr.jpg");
     height: 800px; 
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title2 h2{
    text-align: center;
}
.title3 h3{
    text-align: left;
    text-decoration-style: solid;
    font-language-override: normal;
}

.content2{
    height: 350px;
}
.navbar-logo {
  width: 0px;
}
















